body {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  margin-bottom: 200px;
}

form {
  margin-left: 25%;
  font-size: 1.5em;
  /* position: relative;
  left: 30%;
  top: 30%; */
}
button {
  margin: 2em 0;
}

.table-data {
  margin-left: 25%;
  margin-right: auto;
}

table {
  /* position: relative;
  left: 50%;
  top: 100%; */
  /* transform: translate(-50%, -50%); */
  border-collapse: collapse;
  width: 800px;
  height: 200px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#header {
  background-color: #16a085;
  color: #fff;
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
  padding: 10px 0px;
}

tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
}

/* media query */

@media only screen and (max-width: 800px) {
  table {
    width: 90%;
  }
}

/* @media only screen and (min-width: 960px) {
  table {
    position: absolute;
    left: 50%;
    top: 80%;
  }
  form {
    position: absolute;
    left: 30%;
    top: 20%;
  }
} */

/* Styling the inputs */

input[type="text"] {
  width: 50% !important;
  box-sizing: border-box;
  border: 2px solid #16a085;
  border-radius: 4px;
  font-size: 16px !important;
  background-color: white;
  /* background-image: url("loupe.png"); */
  /* background-position: 40px 10px; */
  /* background-repeat: no-repeat; */
  padding: 12px 20px 12px 40px;
  outline: none !important;
}

form span {
  color: black;
  font-size: 20px;
}
